@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <div class="text-center">
        <h1 class="display-4">Register</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <form asp-controller="Account" asp-action="Login">
            <label>Username</label>
            <input class="form-control" id="userName" name="userName" />
            <label>Password</label>
            <input class="form-control" id="password" name="password" />
            <button class="btn btn-primary" type="submit">Sign in</button>
        </form>
    </div>
</div>
